* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: skyblue;
  background-color: #414a4c;
}

body {
  overflow-x: hidden;
}

.title {
  font-size: 60px;
  margin-left: 60px;
  margin-top: 60px;
}

.recent {
  font-size: 40px;
  position: relative;
  left: 150px;
  top: 70px;
  color: skyblue;
}

.refresh {
  height: 35px;
  width: 120px;
  cursor: pointer;
  position: relative;
  left: 500px;
  top: 35px;
  font-size: 20px;
  border: 2px solid skyblue;
  font-weight: 700;
  box-shadow: 3px 3px skyblue;
}

.scoresDiv {
  height: 300px;
  width: 477px;
  border: 2px solid skyblue;
  position: relative;
  top: 70px;
  left: 150px;
  overflow-y: scroll;
}

.add {
  font-size: 40px;
  position: relative;
  top: -315px;
  left: 65%;
}

.name {
  position: relative;
  top: -290px;
  left: 65%;
  width: 320px;
  height: 49px;
  border: 2px solid skyblue;
  border-radius: 5px;
  font-size: larger;
  padding: 10px;
}

.score {
  position: relative;
  top: -220px;
  left: 41.2%;
  width: 320px;
  height: 49px;
  border: 2px solid skyblue;
  border-radius: 5px;
  font-size: larger;
  padding: 10px;
}

.submit {
  border: 2px solid skyblue;
  position: relative;
  top: -160px;
  left: 34.5%;
  width: 90px;
  height: 34px;
  box-shadow: 2px 2px skyblue;
  font-size: 18px;
  cursor: pointer;
}
